/*Para todas las secciones del sitio*/
*{
    margin: 0;
    padding: 0;
}

h1{
    color: black;
    font-weight: bolder;
    font-family: 'Square Peg', cursive;
    font-size: 70px;
    text-align: center;
    padding: 30px;
}


.header{
    display: flex;
    align-items: center;
    height: 130px;
  
    gap: 2rem;
    background-color: #3a3a3a;

}

.header__logo{
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    padding-left: 5px;
}



.lista-navegacion{
    display: flex;
    width: 80vw;
    height: 150px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.lista-navegacion li a:hover{
    color: #EBDDC3;
    background-color: black;
    padding: 8px 15px;
}



.promo:hover{
    transform: scale(1.2);
    transition: all ease-in-out 1s;
}

.footer__redes a:hover{
    color: black;
}

.card__productos2:hover{
    transform: scale(1.2);
    transition: all ease-in-out 1s;
}


.lista-navegacion a {
    text-decoration: none;
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-weight: 550;
    font-size: larger;
   
}


.lista-navegacion li{
    list-style-type: none;
}



/*Seccion de inicio*/

.imagen__carrusel{
    width: 1000px;
    height: 650px;
    display: block;
    margin: 0 auto;
    margin-bottom: 3rem;
    max-width: 100%;
}

.titulo{
    background-color: #cab2b2;
}

.carousel-coder{
    background-color: rgb(221, 200, 200);
}

.carousel-inner img {
    max-height: 40rem;
    max-width: 85rem;
}

.productos{
   background-color: #e7c9c9;
   margin-top: auto;
}


/* .card__productos{
    background-color: #EBDDC3;
    width: 14rem;
    height: 14rem;
    margin: auto auto;
    margin-bottom: 4rem;
    padding-left: 2rem;
    padding-top: 2rem;
    margin-top: 2rem;

    border: solid 2px #7F7A74;
} */

.card__productos {
    position: relative;
    width: 335px;
    height: 380px;
    /* background: #191919;
    border-radius: 20px; */
    overflow: hidden;
    margin: auto auto;
    margin-bottom: 4rem;
    margin-top: 4rem;
    padding-left: 3rem;
    padding-top: 2rem;
  }

  
.card__productos:hover{
    transform: scale(1.2);
    transition: all ease-in-out 1s;
} 


.card__caja{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center; 
}

.promo{
    width: 400px;
    height: 290px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    max-width: 100%;
}


.card__productos--oferta{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}



.card__imagen{
    width: 17rem;
    height: 17rem;
    max-width: 100%;
}

.card__enlace{
    display: inline-block;
    text-decoration: none;
    color: #666666;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-weight: 550;
    padding: 10px 15px;
    padding-left: 10pax;
     margin-top: 20px;
     margin-left: 15px;
    /* margin: auto;   */
    color: #000000; 
    text-decoration: none;
    background: white;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

.card__enlace:hover{
    color: grey;
}


.whatsapp {
    position: fixed;
    bottom: 0;
    right: 100px;
}

.whatsapp img {
    width: 70px;
    height: 70px;
}

/* Seccion contacto*/

.contacto{
    background-color: #e7c9c9;
}

.contacto h3{
    text-align: center;
    color: #3a3a3a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 4rem;
}

.contacto__parrafo{
    text-align: center;
    color: #666666;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-weight: 400;
}

.form-1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666666;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-weight: 500;
    font-style: italic;
    margin-top: 5rem;
    margin-bottom: 20rem;
}

.form__boton{
    color: #3a3a3a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    border: #666666;
    border-style: outset;
}

.form-1 input{
    margin-top: 10px;
    color: #666666;
}

.form-1 textarea{
    margin-top: 10px;
    color: #666666;
}

.form-1 fieldset{
    border-color: grey;
    border-style: solid;
    width: 600px;
    height: 430px;
}

.form-1 legend{
    font-weight: 600;
    font-style: normal;
}

.contacto2{
    margin-top: 50px;
    padding-bottom: 50px;
}


/*Footer*/

.footer{
    display: flex;
    justify-content: center;
    height: 100px;
}

.footer__redes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer__redes li{
    list-style: none;
    margin-right: 10px;
}

.footer__redes a{
    text-decoration: none;
    color: #666666;
    font-size: 25px;
} 

/*Seccion nosotros*/

.nosotros {
    background-color: #e7c9c9;
}

.nosotros p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
    color: #363434;
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.nosotros h3{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.nosotros img{
    width: 800px;
    margin-bottom: 2rem;
}

.nosotros-img{
    display: flex;
    justify-content: center;
}

form{
    margin: auto;
    width: 50vw;
    margin-left: 25vw;
    /* display: flex;
    justify-content: center;
    text-align: center; */
    height: 20rem;
   /* text-align: center; */
}

.form-check{
    display: flex;
    justify-items: center;
    max-width: 100%;
}



.form-check legend {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #191919;
  /* display: flex; */
  /* justify-content: center; */
}

.mb-3 input{
  width: 25rem;
}

.form-check p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    margin-top: 30px;
}

.container fieldset{
    border-color: grey;
    border-style: solid;
}

/*Seccion preguntas frecuentes*/

.container-fluid{
    background-color: #e7c9c9;
}

.pregunta{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 9px;
}

.respuesta {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
    color: #363434;
    font-size: 20px;
    line-height: 1.8;
    /* margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem; */
}

.container-fluid iframe{
    width: 600px;
    height: 300px;
    display: block;
    margin: auto;
}

/*Seccion productos*/

.productos2{
    background-color: #e7c9c9;
}


.card__productos2{
    position: relative;
    width: 270px;
    height: 320px;
    background: rgb(197, 183, 183);
    border-radius: 10px;
    overflow: hidden;
    margin: auto auto;
    margin-bottom: 4rem;
    margin-top: 4rem;
     padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.card__caja2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.card__imagen2{
    width: 15rem;
    height: 14rem;
    max-width: 100%;
    margin: auto;
}

.card__caja2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.productos2 p{
    margin-left: 5px;
    margin-right: 40px;
    margin-left: 10px;
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-weight: 550;
    font-size: 14px;
}

/* body {
    margin-right: 6%;
    margin-left: 6%;
} */

@media screen and (max-width: 480px) {

    /*Seccion inicio*/

    h1{
        font-size: 25px;
    }

    h2{
        font-size: 20px;
    }

    .header{
        height: 220px;
        max-width: 100%;
        gap: 4rem;
    }

    .header__logo{
        width: 40px;
        height: 40px;
    }

    .lista-navegacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
        gap: 5px;
        width: 40vw;
    }

    .lista-navegacion a{
        font-weight: 100px;
    }
    
    .imagen__carrusel{
        width: 89%;
        height: 200px;
        max-width: 100%;
    }

    .card__caja{
        grid-template-columns: repeat(1, 1fr);
         grid-column: auto;
    }

    .card__imagen{
        width: 9rem;
        height: 9rem;
        max-width: 100%;
        margin: auto;
        
    }
    

    .card__productos{
        
        width: 15rem;
        height: 13rem;
        margin: auto auto;
        
        margin-bottom: 2rem; 
        padding-right: 3rem; 
        padding-bottom: 5rem;
       
        max-width: 100%;
    } 

    .card__enlace{
        margin-top: 10px;
        padding-left: 7px;
        font-weight: 500;
        font-size: 10px;
        padding: 5px 5px;
    }

    .promo{
         width: 10rem;
        height: 10rem; 
        max-width: 100%;
        margin-bottom: 18px;
    }

    .card__productos--oferta{
        flex-direction: column;
        align-items: center;
        margin-top: auto;
        gap: 10px;
    }

    .whatsapp img {
        width: 40px;
        height: 40px;
    }

/*     
    .footer__redes{
        align-items: center;
        max-width: 100%;
    } */

    /*Nosotros*/

    .nosotros img{
        width: 80%;
    }

    .mb-3 input{
        width: 16rem;
    }
    /*seccion preguntas*/

    .container-fluid iframe{
        max-width: 100%;
        height: 15rem;
    }


    .pregunta{
        font-size: 17px;
    }

    .respuesta{
        font-size: 15px;
    }
    
    /*seccion contacto*/

    .form-1 fieldset{
        width: 25rem;
        height: 28rem;
    }

    .form-1{
        margin-bottom: 25rem;
    }

    .form-1 textarea{
        max-width: 100%;
    }

    /*seccion productos*/

    .card__caja2{
        grid-template-columns: repeat(1, 1fr);
         grid-column: auto;
        
    }

    .card__imagen2{
        width: 8rem;
        height: 8rem;
        max-width: 100%;
        margin: auto;
        
    }

    .card__productos2{
        width: 10rem;
        height: 14rem;
        margin: auto auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-left: 1rem;
        max-width: 100%;
    } 
    
    .card__productos2 p{
        font-size: 10px;
        margin-left: 15px;
    }

    }

    /* @media screen and (min-width:481px) and (max-width: 1024px) {

    h1{
        font-size: 25px;
    }
    
    h2{
        font-size: 20px;
    }    

    .header{
        height: 220px;
        gap: 4rem;
    }

    .header__logo{
        width: 40px;
        height: 40px;
    }
        
    .imagen__carrusel{
        width: 89%;
        height: 200px;
        max-width: 100%;
        } 
    .card__caja{
        grid-template-columns: repeat(2, 1fr);
        grid-column: auto;
            
        } 
        
    .card__imagen{
        width: 8rem;
        height: 8rem;
        max-width: 100%;
        margin: auto;     
     }    

    .card__productos{
        width: 10rem;
        height: 10rem;
        margin: auto auto;
        margin-top: 2rem;
        padding-left: 2rem;
        max-width: 100%;
        }  
        
    .lista-navegacion{
        display: flex;
        
        /* justify-content: center; 
        align-items: center;
        justify-content: space-around;
        height: 150px;
        gap: 5px;
        width: 40vw;
        }
    
    .lista-navegacion a{
        font-weight: 100px;
    }   
    
    .promo{
        width: 20rem;
        height: 10rem;
        margin-top: 2rem;
    }
    } */
